<div class="scroll">
  <div class="left-bar"></div>
  <div class="mini-left-bar"></div>
  <div class="logo-socio">
    <img
      src="../../../assets/images/Icônes/icon_facebook.png"
      alt="icon_facebook"
      srcset=""
    />
    <img
      src="../../../assets/images/Icônes/icon_instagram.png"
      alt="icon_instagram"
      srcset=""
    />
    <img
      src="../../../assets/images/Icônes/icon_twitter.png"
      alt="icon_twitter"
      srcset=""
    />
    <img
      src="../../../assets/images/Icônes/icon_tik_tok.png"
      alt="icon_tiktok"
      srcset=""
    />
  </div>
</div>
