.image-hero {
  background-image: url(../../../assets/images/eshop/bg_1.jpg);
  height: 700px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.hero-title {
  padding-top: 4em;
  font-size: 3em;
  font-weight: bolder;
}
