<section id="hero">
  <div class="image-hero">
    <div class="container">
      <h1 class="hero-title text-uppercase">
        Récuperez le flow de <br />
        Black Panther avec notre e-shop !
      </h1>
    </div>
  </div>
</section>
<!-- Appel de du composant cart -->
<app-cart></app-cart>
<!-- Section des produits et filtrage -->
<section>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-3">
        <app-aside></app-aside>
      </div>
      <div class="col-md-9">
        <app-products></app-products>
      </div>
    </div>
  </div>
</section>
