<footer>
  <div class="pied-page container">
    <div class="left-image">
      <img
        src="../../../assets/images/Icônes/icon_SaynaXMarvel.png"
        alt=""
        srcset=""
      />
    </div>

    <div class="card-right">
      <div class="card-social">
        <div class="page">
          <h3 class="titre-socio">PAGES</h3>
          <p class="texte">A propos</p>
          <p class="texte">Wakanda</p>
          <p class="texte">Enigme</p>
        </div>
        <div class="logo-socio">
          <h3 class="titre-socio">RETROUVEZ NOUS</h3>
          <div class="image-logo">
            <img
              src="../../../assets/images/Icônes/icon_facebook_footer.png"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/Icônes/icon_instagram_footer.png"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/Icônes/icon_twitter_footer.png"
              alt=""
              srcset=""
            />
            <img
              src="../../../assets/images/Icônes/icon_ti_tok_footer.png"
              alt=""
              srcset=""
            />
          </div>
        </div>
      </div>
      <div class="texte-fin">
        <p class="texte">
          2022 Tous droits réservés
          <span class="petit-point"></span> Politique de confidentialité
          <span class="petit-point"></span> Conditions d utilisation
        </p>
      </div>
    </div>
  </div>
</footer>
