<nav class="navbar navbar-expand-lg navbar-light">
  <div class="container">
    <a class="navbar-brand" href="/home">
      <img
        src="../../../assets/images/Icônes/icon_SaynaXMarvel.png"
        alt=""
        srcset=""
      />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item active">
          <a
            class="nav-link"
            aria-current="page"
            routerLink="home"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            >ACCEUIL</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="wakanda" routerLinkActive="active"
            >WAKANDA</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="enigme" routerLinkActive="active"
            >ENIGME</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="eshop" routerLinkActive="active"
            >E-SHOP</a
          >
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="compte" routerLinkActive="active"
            >MON COMPTE</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
<!-- inssection du composant la barre des reseau sociaux -->
<app-scrol-bar></app-scrol-bar>
