.image-hero {
  background-image: url(../../../assets/images/Landing/Pantherhome1..png);
  height: 700px;
  background-position: right center;
  background-size: contain;
  background-repeat: no-repeat;
}
.hero-title {
  padding-top: 4em;
  font-size: 3em;
  font-weight: bolder;
}

.hero_content {
  width: 40%;
}
.texte-hero {
  text-align: justify;
}
