<section class="mt-5 mb-5">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img
          src="../../../assets/images/autres/notfound.jpg"
          class="img-fluid"
          alt=""
          srcset=""
        />
      </div>
      <div class="col-md-6 text-center pt-5">
        <h1>404 ERROR</h1>
        <h6 class="mb-4">Cestte page n'existe pas ou n'existe plus</h6>
        <button
          type="button"
          class="btn btn-default"
          (click)="onRedirectHome()"
        >
          Allez à la page d'accueil
        </button>
        &nbsp;
        <button
          type="button"
          class="btn btn-default"
          (click)="onRedirectEshop()"
        >
          Voir nos Produits
        </button>
      </div>
    </div>
  </div>
</section>
